/*000000-808080-f8f4e3-d4cdc3-d5d0cd*/

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Open-Sans;
  src: url(/fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: Open-Sans-Bold;
  src: url(/fonts/Open_Sans/OpenSans-Bold.ttf);
}

html,
body {
  font-family: Open-Sans;
  background: #000000;
  color: #ffffff;
}

a {
  text-decoration: none;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.wrapper {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

.only-mobile {
  display: none;
}

#top_header {
  padding: 1.5em 0;
}

#top_header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#top_header .logo {
  display: flex;
  align-items: center;
}

#top_header .logo > img {
  width: 60px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 2px;
}

#top_header .logo-title {
  text-transform: uppercase;
  font-size: 1.15em;
  font-weight: 500;
  font-family: Open-Sans-Bold;
  margin-left: 0.5em;
  letter-spacing: 0.2em;
  color: #ffffff;
}

#main_footer {
  padding: 2.5em 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

#main_footer .logo {
  display: flex;
  align-items: center;
}

#main_footer .logo > img {
  width: 45px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 2px;
}

#main_footer .logo-title {
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: 500;
  font-family: Open-Sans-Bold;
  margin-left: 0.5em;
  letter-spacing: 0.2em;
  color: #ffffff;
}

#main_nav {
  font-size: 1em;
  display: flex;
  align-items: center;
}

.youtube {
  width: 50px !important;
}

#main_nav a {
  text-decoration: none;
  margin-left: 2em;
  color: #ffffff;
  text-align: center;
}

.banner {
  background-repeat: no-repeat;
  background-size: contain !important;
  width: 100%;
  max-width: 100%;
  height: 350px !important;
}

#banner1 {
  background: url(/images/sample.png);
  background-repeat: no-repeat;
}

#banner2 {
  background: url(/images/goes.png);
  background-repeat: no-repeat;
}

ul.slick-dots {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 3.5em;
  list-style: none;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 16px !important;
  height: 16px !important;
  padding: 5px !important;
  cursor: pointer;
  color: transparent;
  border: 0 !important;
  outline: none;
  background-color: hsla(0, 0%, 100%, 0.3) !important;
  border-radius: 50%;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4) !important;
}

.slick-dots li button::before {
  content: none !important;
}

.slick-dots li.slick-active button {
  background: #ffffff !important;
}

.row {
  width: 100%;
}

.row .post {
  margin-right: 0.5%;
  float: left;
}

.row .post img {
  width: 100%;
  max-width: 100%;
  border-radius: 0.2em;
}

.title {
  font-size: 1.25em;
  margin: 1em 0 0 0;
  color: #ffffff;
}

.post_info {
  font-size: 0.75em;
  color: #ffffff;
  margin: 0.5em 0;
}

.slick-next {
  right: -2px !important;
}

.slick-prev,
.slick-next {
  top: 40% !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px !important;
}

#mr_kats_show header h2,
#top_stories header h2,
#web_series header h2 {
  font-size: 1.75em;
  color: #ffffff;
}

section#web_series {
  clear: both;
}

.m-30 {
  margin-bottom: 3em;
  display: flex;
}

.post:not(.slick-slide) {
  width: 23%;
  margin-right: 2%;
}

.copyright {
  font-size: 0.75em;
}

#subscribe {
  text-align: center;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  width: 90%;
  margin: 0 auto;
  padding: 3em 0 4em 0;
}

.subscribe-inner {
  width: 600px;
  margin: 0 auto;
  max-width: 90%;
}

.subscribe-inner h2 {
  font-size: 1.75em;
}

.icons {
  font-size: 24px;
  color: #ffffff;
  margin-right: 0.5em;
}

.follow_us {
  border: 1px solid #ffffff;
  width: 15%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
}

.paragraph {
  margin-right: 1em;
}

.modal {
  position: fixed;
  display: none;
  padding: 40px;
  z-index: 100;
  width: 700px;
  height: 500px;
  left: 40%;
  margin-left: -200px;
  background: #000;
  top: 50%;
  margin-top: -200px;
  min-height: 300px;
  overflow-y: scroll;
  transition: all 0.5s ease-in;
}

.modal-inner {
  position: relative;
}

.close-button {
  position: absolute;
  top: -24px;
  right: -29px;
  font-size: 22px;
  cursor: pointer;
}

.team-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.profile-wrapper {
  width: 33.3333%;
  padding-left: 30px;
  padding-right: 30px;
  margin: 2em 0;
}

.profile-inner img {
  width: 100%;
  max-width: 100%;
}

.team-titles {
  text-align: center;
}

.name {
  font-size: 1.55em;
  margin-bottom: 0px;
}

.info {
  font-size: 0.95em;
}

.team-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-title {
  font-size: 3em;
}

/* media queries start*/
@media screen and (max-width: 767px) {
  .youtube {
    width: 30px !important;
  }

  #top_header .wrapper {
    align-items: center;
    flex-direction: column;
  }

  #banner1 {
    background: url(/images/You_banner.png);
  }

  #banner2 {
    background: url(/images/go_banner.png);
  }

  #main_nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 1.2em;
    font-size: 0.9em;
  }
  .only-mobile {
    display: inline-block;
  }
  .active {
    border-bottom: 3.5px solid #ffffff;
    padding-bottom: 6px;
    width: 50px;
  }
  #top_header {
    padding: 1.5em 0 0 0;
  }
  #top_header .logo > img {
    width: 45px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 2px;
  }
  #top_header .logo-title {
    font-size: 0.85em;
  }
  .banner {
    height: 200px !important;
    background-size: cover !important;
  }
  ul.slick-dots {
    bottom: 2em;
  }
  .slick-dots li button {
    width: 13px !important;
    height: 13px !important;
  }
  .slick-next {
    right: -13px !important;
    top: 40% !important;
  }
  .slick-prev.slick-arrow {
    display: none !important;
  }
  .post:not(.slick-slide) {
    width: unset;
    margin-right: 3.5%;
  }

  #web_series_slider .post {
    width: 46%;
    margin-right: 3.5%;
  }

  #mr_kats_show header h2,
  #top_stories header h2,
  #web_series header h2 {
    font-size: 1.25em;
  }
  .title {
    font-size: 0.8em;
  }
  .post_info {
    font-size: 0.55em;
  }
  .m-30 {
    margin-bottom: 2em;
    display: flex;
  }
  #subscribe {
    padding: 2em 0 3em 0;
  }
  .subscribe-inner h2 {
    font-size: 1.25em;
  }
  .follow_us {
    width: 55%;
  }
  .icons {
    font-size: 20px;
  }
  .paragraph {
    font-size: 16px;
  }
  .modal {
    display: none;
    width: 350px;
    height: 300px;
    left: 57%;
    margin-left: -200px;
    top: 50%;
    min-height: 300px;
    overflow-y: scroll;
    transition: all 0.5s ease-in;
  }
  .profile-wrapper {
    width: 100%;
    margin: 1em 0;
  }
  .name {
    font-size: 1.35em;
  }

  .info {
    font-size: 0.75em;
  }
  .team-title {
    font-size: 2em;
  }
}
